TELEGRAM_BOT_TOKEN=put_bot_token_here
TELEGRAM_CHANNEL_ID=@your_private_channel_username
OLX_SEARCH_URL=https://www.olx.uz/d/elektronika/telefony-i-aksessuary/telefony/toshkent/
CHECK_INTERVAL_SECONDS=180
UZS_MIN=1000000
UZS_MAX=2500000
EUR_MIN=100
EUR_MAX=200
DATA_DIR=/app/data
